DISCORD_TOKEN=ton_token_bot
DISCORD_CLIENT_ID=id_application_bot
DISCORD_GUILD_ID=id_serveur_discord

WELCOME_CHANNEL_ID=id_salon_arrivee
GOODBYE_CHANNEL_ID=id_salon_depart
AI_CHANNEL_ID=id_salon_assistant_ia
SUPPORT_WAITING_VOICE_ID=id_vocal_attente_de_move
SUPPORT_LOG_CHANNEL_ID=id_salon_logs_support_optionnel

GROK_API_KEY=ta_cle_api_grok
GROK_MODEL=grok-4
GROK_SYSTEM_PROMPT=Tu es l'assistant officiel de la Gendarmerie Nationale RP. Reponds de facon professionnelle, courte et utile. Reste dans le cadre RP.

BOT_STREAM_NAME=Gendarmerie
BOT_STATUS_TEXT=Gendarmerie Nationale RP

WELCOME_MESSAGE=Bienvenue {user} au sein de la Gendarmerie Nationale RP.
GOODBYE_MESSAGE={user} quitte la Gendarmerie Nationale RP. Bonne continuation.
SUPPORT_TTS_MESSAGE=Bonjour {user}, un membre de la gendarmerie va vous prendre en charge. Merci de patienter dans le salon attente de move.
SUPPORT_TTS_LANG=fr

CARD_TEMPLATE=assets/gendarmerie-template.png
